PORT=8000
NODE_ENV=development
FRONTEND_URI=http://localhost:5173
MONGO_URI=
SECRET_KEY=
GOOGLE_CLIENT_ID=
CLOUD_NAME=
API_KEY=
API_SECRET=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
