PORT=8000
NODE_ENV=development
FRONTEND_URI=http://localhost:5173
MONGO_URI=
SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=8000
SECRET_KEY=replace-with-a-long-random-secret
CLOUD_NAME=
API_KEY=
API_SECRET=
FRONTEND_URI=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
# FRONTEND_URI=https://job-connect-delta.vercel.app